<!-- templates/Post.html-->
{% extends 'base.html' %}
{% load static %}

{% block title %}Landing Page{% endblock %}

{% block sidebar %}
  <p><a href="{% url 'account_signup' %}">Sign Up</a></p>
  <p><a href="{% url 'account_login' %}">Sign In</a></p>
  <p><a href="#">Contact</a></p>
{% endblock sidebar %}

{% block content %}
  <h2>Remembrall</h2>
  <p>Let's not lose or forget the valuable information!</p>
  <img src="{% static 'cant-remember-what-ive-forgotten.gif' %}" alt="cant-remember-what-ive-forgotten"/>
{% endblock content %}


